# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: C++ CI

on:
  push:
    branches: [ "main", "ci"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.config.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows Latest MSVC",
            os: windows,
            build_type: "Release", cc: "cl", cxx: "cl",
          }
        - {
            name: "Windows Latest MinGW",
            os: windows,
            build_type: "Release", cc: "gcc", cxx: "g++"
          }
        - {
            name: "Ubuntu Latest GCC",
            os: ubuntu,
            build_type: "Release", cc: "gcc", cxx: "g++"
          }
        - {
            name: "Ubuntu Latest Clang",
            os: ubuntu,
            build_type: "Release", cc: "clang", cxx: "clang++"
          }

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Configure Project
        uses: threeal/cmake-action@v1.3.0
        with:
          generator: Ninja
          c-compiler: ${{ matrix.config.cc }}
          cxx-compiler: ${{ matrix.config.cxx }}

      - name: Build Project
        runs: cmake --build build

      - name: Test Project
        runs: ctest --test-dir build
